name: ci

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

env:
  GO_VERSION: '^1.25.4'

jobs:
  go-action-kit-api:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_api
    steps:
    - uses: actions/checkout@v5
      with:
        # increased fetch depth to support git diff
        fetch-depth: 2
    - uses: actions/setup-go@v6
      with:
        cache-dependency-path: ./go/action_kit_api
        go-version: ${{ env.GO_VERSION }}
    - run: ./build.sh
    - run: git diff --exit-code
      name: "Ensure that Go API changes (as a consequence of OpenAPI spec changes) are checked in"
    - run: go get
    - run: go test

  go-action-kit-sdk:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_sdk
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Audit
        run: |
          go mod download
          make audit

  go-action-kit-sdk-windows:
    needs:
      - go-action-kit-sdk
    runs-on: windows-2022
    defaults:
      run:
        working-directory: ./go/action_kit_sdk
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Audit
        run: |
          go mod download
          make audit

  go-action-kit-commons:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_commons
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Audit
        run: |
          go env
          go mod download
          make audit

  go-action-kit-commons-windows:
    needs:
      - go-action-kit-commons
    runs-on: windows-2022
    defaults:
      run:
        working-directory: ./go/action_kit_commons
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Audit
        run: |
          go mod download
          make audit

  go-action-kit-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Audit
        run: |
          go mod download
          make audit

  go-action-kit-test-windows:
    needs:
      - go-action-kit-test
    runs-on: windows-2022
    defaults:
      run:
        working-directory: ./go/action_kit_test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Audit
        run: |
          go mod download
          make audit