name: ci

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  go-action-kit-api:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_api
    steps:
    - uses: actions/checkout@v4
      with:
        # increased fetch depth to support git diff
        fetch-depth: 2
    - uses: actions/setup-go@v4
      with:
        go-version: '1.20'
    - run: ./build.sh
    - run: git diff --exit-code
      name: "Ensure that Go API changes (as a consequence of OpenAPI spec changes) are checked in"
    - run: go get
    - run: go test

  go-action-kit-sdk:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_sdk
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - name: Audit
        run: |
          go mod download
          make audit

  go-action-kit-commons:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_commons
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '^1.20.0'
      - name: Audit
        run: |
          go mod download
          make audit

  go-action-kit-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - name: Audit
        run: |
          go mod download
          make audit

  example-go-kubectl:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the container registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/steadybit/example-go-kubectl

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: examples/go-kubectl
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64