name: ci

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  go-action-kit-api:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_api
    steps:
    - uses: actions/checkout@v4
      with:
        # increased fetch depth to support git diff
        fetch-depth: 2
    - uses: actions/setup-go@v5
      with:
        cache-dependency-path: ./go/action_kit_api
        go-version: '1.24'
    - run: ./build.sh
    - run: git diff --exit-code
      name: "Ensure that Go API changes (as a consequence of OpenAPI spec changes) are checked in"
    - run: go get
    - run: go test

  go-action-kit-sdk:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_sdk
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
#          cache-dependency-path: ./go/action_kit_sdk
          go-version: '1.24'
      - name: Audit
        run: |
          go mod download
          make audit

  go-action-kit-commons:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_commons
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
#          cache-dependency-path: ./go/action_kit_commons
          go-version: '1.24'
      - name: Audit
        # Execute go tests with sudo to be able to start ip.
        run: |
          go mod download
          go version
          go vet ./...
          go run honnef.co/go/tools/cmd/staticcheck@v0.6.1 -checks=all,-ST1000,-U1000,-ST1003 ./...
          go test -race -vet=off -coverprofile=coverage.out ./...
          go mod verify
          sudo make audit

  go-action-kit-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go/action_kit_test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
#          cache-dependency-path: ./go/action_kit_test
          go-version: '1.24'
      - name: Audit
        run: |
          go mod download
          make audit
